
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
@Html.ActionLink("Rivales", "Arbitros", new { id = item.idcompeticion, id2 = item.idtemporada })
<p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>