@model IEnumerable<Proyecto_bases.Models.arbitroDatos_Result>

@{
    ViewBag.Title = "Arbitros torneo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Promedio calificaciones")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.nombre)
            </th>
            <th>
                @Html.DisplayFor(model => item.Column1)
            </th>
    
        </tr>
    }
</table>