@{
    ViewBag.Title = "About";
}
<h1 style="color:#9CA6AD">@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>
<p>
    Esta es una aplicación que se utiliza para darle seguimiento a los partidos de futbol. Este proyecto se realizo en 2 partes, la primera fue el caso en la que se modeló
    el problema y la segunda parte fue la implementacion de esta y la creacion de una pagina para accesarla.
</p>
