@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #9CA6AD">Consultas</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Generar resultados, Arbitros y Tabla General</h2>
        <p>
            Esta opcion permite ver y revisar todos los datos que son relevantes para un torneo. Esto incluye a los arbitros del torneo.
        </p>
        <p><a class="btn btn-default" href="/competiciontemporadas/Index" style="background-color:#192637; color:#F2F2F2">Generar resultados, Arbitros, Tabla General &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rivales</h2>
        <p>
            Esta herramienta permite seleccionar la rivalidad entre 2 equipos, ya sea para ver los partidos o los anotadores de cada uno.
        </p>
        <p><a class="btn btn-default" href="/rivalesAnotadores/Index" style="background-color:#192637; color:#F2F2F2">Rivales &raquo;</a></p>
        <p><a class="btn btn-default" href="/rivales/Index" style="background-color:#192637; color:#F2F2F2">Anotadores Rivales &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jugadores</h2>
        <p>
            Esta consulta permite ver todos los jugadores y seleccionar uno para poder ver el historial de todos los equipos en los que ha pertenecido.
        </p>
        <p><a class="btn btn-default" href="/jugadores/Index" style="background-color:#192637; color:#F2F2F2"> Jugadores &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entrenadores</h2>
        <p>
            Mediante esta consulta se pueden ver todos los entrenadores y seleccionar uno para poder ver los datos espesificos. Insertar texto de datos espesificos.
        </p>
        <p><a class="btn btn-default" href="/entrenador/Index" style="background-color:#192637; color:#F2F2F2"> Entrenadores &raquo;</a></p>
    </div>
</div>
