@{
    ViewBag.Title = "Contact Us";
}
<h1 style="color:#9CA6AD">@ViewBag.Title.</h1>
<address>
    Jose Pablo Alvarado Flores<br />
    <abbr title="Phone">P:</abbr>
    87548896
</address>
<address>
    Ricardo Arturo Bonilla Morales<br />
    <abbr title="Phone">P:</abbr>
    88298474
</address>
<address>
    Adrián Garnier Artiñano<br />
    <abbr title="Phone">P:</abbr>
    85556167
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:josepa393@gmail.com">josepa393@gmail.com</a><br />
</address>